<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  
</head>

<body>
  <header>
      <% if (user) { %>
        <h1>Hello, <%= user.email %>!</h1>
        <form action="/logout" method="POST" style="margin:150px;">
          <input type="submit" value="Log Out">
        </form>
      <% } else { %>
        <h1>Hello!</h1>
        <form action="/login" method="POST" style="margin:150px;">
          <label for="email">Enter an email:</label>
          <input id="email" type="text" name="email" placeholder="" style="width: 300px">
          <input type="submit" value="Log In">
        </form>
      <% } %>
  </header>
</body>