<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <%- include partials/_header.ejs %>
  </header>
  <ul>
    <li>
      <%= shortURL %>
    </li>
  </ul>
</body>
</html>